/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Dosis:400,600");

/* Global */
html,
body,
div {
    margin: 0;
    height: 100%;
}

body {
    text-align: center;
    font-family: "Dosis", sans-serif !important;
}

/* Pattern styles */
.container {
    display: flex;
}

div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Left Panel */
.left-half {
    position: relative;
    background-color: #6B76FF;
    flex: 1;
}

.left-half:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url("./components/images/pattern.svg");
    background-size: 200%;
    z-index: 1;

}

/* Left Panel Box */
.box {
    width: 500px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}

.box p {
    color: white;
    font-size: 72px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer {
    margin: auto;
    width: 300px;
    border-radius: 30px;
}

.footer p {
    color: white;
}

.link {
    width: 15% !important;
    height: auto !important;
    border-radius: 10px !important;
    background: none !important;
    color: white !important;
    padding: 3px;
    margin: 7px;
    text-decoration: none;
}

.link:hover {
    background: white !important;
    border-radius: 10px !important;
    color: #6B76FF !important;
}



/* Button */

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;

}

.btn {
    width: 120px;
    height: 50px;
    border-radius: 30px;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    color: #6B76FF;
    background-color: white;
    outline: none;
    border: none;
    z-index: 2;
    transition: .3s all ease-in-out;
}

.blue {
    color: white !important;
    background-color: #6B76FF !important;
}

.btn:hover {
    transform: scale(1.1);
}


/* Right Panel */
.right-half {
    flex: 1;
    background-color: white;
    color: black;
}

/* Right Panel Elements */
.right-half h1 {
    font-size: 48px;
    color: #6B76FF;
    font-weight: 600;
    margin: 0 auto;
}

.right-half h4 {
    font-size: 24px;
    color: #6B76FF;
}

.right-half p {
    font-size: 24px;
}

.getNumber {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}



/* Media */

@media (max-width: 768px) {
    .container {
        flex-direction: column !important;
    }

    .left-half {
        background-size: 250%;
    }

    .left-half,
    .right-half {
        width: 100%;
    }

    /* Box */
    .box {
        margin-top: 30px;
        width: 300px;
        height: 120px;
    }

    .buttons {
        margin-top: -30px;
    }

    .box p {
        font-size: 45px;
    }

    /* Footer */
    .footer {
        margin: auto;
        width: 300px;
        border-radius: 30px;
        margin-top: -30px;
    }

    .link {
        width: 15% !important;
        height: auto !important;
        border-radius: 10px !important;
        background: none !important;
        color: white !important;
        padding: 3px;
        margin: 7px;
        text-decoration: none;
    }


}