.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

.modal-main {
    position: fixed;
    background: white;
    border-radius: 30px;
    max-width: 600px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .3s all ease-in-out;
}

.modal-main h1 {
    font-size: 48px;
    color: #6B76FF;
    margin: 0 auto;
}

.modal-main p {
    font-size: 18px;
    font-weight: 600;
    width: 450px;
    color: #6B76FF;

}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    outline: none;
    background: #6B76FF;
    color: white;
    font-weight: bold;
    font-family: "Dosis", sans-serif;
    width: 50px;
    font-size: 24px;
    padding: 10px;
    border-radius: 30px;

}

@media (max-width: 768px) {

    .modal-main {
        border-radius: 0px;
        height: 100%;
    }

    .modal-main p {
        width: 300px;
    }

}